@charset "UTF-8";
div#root {
  overflow: hidden; }

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  font-family: ZaridSans, serif !important;
  font-size: 16px;
  margin: 0;
  -webkit-touch-callout: auto;
  -webkit-user-select: auto;
  -khtml-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto; }

::selection {
  background: #000;
  padding: 10px;
  color: #fff; }

body {
  direction: rtl !important;
  margin: 0;
  padding: 0;
  font-size: 16px !important;
  height: 100%;
  width: 100%;
  text-align: right !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1 {
  font-size: 20px; }

h2 {
  font-size: 16px; }

h3 {
  font-size: 14px; }

html {
  font-size: 62.5%; }

body {
  color: #333;
  line-height: 1.5;
  background: #fff !important;
  text-align: right;
  font-size: 12px;
  font-size: 1.2rem; }
  body.bgwhite {
    background: #fff; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline; }

a {
  text-decoration: none !important;
  transition: all 300ms;
  color: #000 !important; }
  a:hover {
    color: #960000 !important;
    text-decoration: none !important; }

a:focus,
a:hover {
  text-decoration: none; }

ul {
  list-style-type: none;
  padding: 0; }
  ul li {
    list-style-type: none;
    color: #000; }
    ul li a {
      color: #000; }
      ul li a:hover {
        color: #960000; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 576px) {
  .container {
    max-width: 540px !important; } }

@media (min-width: 768px) {
  .container {
    max-width: 950px !important; } }

@media (min-width: 992px) {
  .container {
    max-width: 1100px !important; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1200px !important; } }

@media (min-width: 1300px) {
  .container {
    max-width: 1250px !important; } }

.cursor-auto {
  cursor: auto; }

.display-block {
  display: block; }

.line-through {
  text-decoration: line-through; }

button,
a {
  border: none;
  transition: background-color 0.25s, color 0.25s;
  cursor: pointer; }
  button.zbtn,
  a.zbtn {
    display: inline-block;
    position: relative;
    padding: 15px 30px;
    font-size: 16px;
    line-height: 1;
    border-radius: 0;
    cursor: pointer;
    border: none;
    background-color: #f8f8f8;
    transition: background-color 0.25s, color 0.25s;
    border: 1px solid transparent;
    text-decoration: none; }
    button.zbtn.bradius,
    a.zbtn.bradius {
      border-radius: .25rem; }
    button.zbtn:disabled,
    a.zbtn:disabled {
      opacity: 0.5; }
      button.zbtn:disabled:hover,
      a.zbtn:disabled:hover {
        background: #333 !important; }
    button.zbtn.white,
    a.zbtn.white {
      background-color: transparent;
      border: 1px solid #e5e5e5;
      color: #333; }
      button.zbtn.white:hover,
      a.zbtn.white:hover {
        color: #960000; }
    button.zbtn.black,
    a.zbtn.black {
      text-align: center;
      background-color: #000;
      color: #fff !important;
      border: 1px solid transparent; }
      button.zbtn.black:hover,
      a.zbtn.black:hover {
        background-color: #960000;
        color: #fff !important; }

.shadow, section.section .items .item {
  box-shadow: 0 0 20px 0 rgba(164, 164, 164, 0.21);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition-property: color, background-color, box-shadow, transform;
  transition-duration: .15s; }
  .shadow:hover, section.section .items .item:hover {
    box-shadow: 0 18px 35px rgba(50, 50, 93, 0.1), 0 8px 15px rgba(0, 0, 0, 0.07); }

.line:before, header .loginbtn .userdropdownbtn .dropdown-toggle:before, section.section .items .medium_item:before, section.section .items .item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: .25s linear; }

.line:hover:before, header .loginbtn .userdropdownbtn .dropdown-toggle:hover:before, section.section .items .medium_item:hover:before, section.section .items .item:hover:before {
  visibility: visible;
  transform: scaleX(1); }

.img-hoverable {
  position: relative; }
  .img-hoverable:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0;
    transition: opacity 0.33s; }
  .img-hoverable:hover:after {
    opacity: .5; }

.isloading .loading {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
  background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  -webkit-background-size: 1000px 104px;
  background-size: 1000px 104px;
  position: relative; }

@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0; }
  100% {
    background-position: 468px 0; } }

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0; }
  100% {
    background-position: 468px 0; } }

.Spinner {
  animation: rotate 1.3s linear infinite; }

.SpinnerContainer-large {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(270deg); } }

.SmallSpinnerPath {
  stroke-dasharray: 100;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: SmallDash 1.3s ease-in-out infinite; }

@keyframes SmallDash {
  0% {
    stroke-dashoffset: 100; }
  50% {
    stroke-dashoffset: 50;
    transform: rotate(135deg); }
  100% {
    stroke-dashoffset: 100;
    transform: rotate(450deg); } }

.MediumSpinnerPath {
  stroke-dasharray: 150;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: MediumDash 1.3s ease-in-out infinite; }

@keyframes MediumDash {
  0% {
    stroke-dashoffset: 150; }
  50% {
    stroke-dashoffset: 50;
    transform: rotate(135deg); }
  100% {
    stroke-dashoffset: 150;
    transform: rotate(450deg); } }

.LargeSpinnerPath {
  stroke-dasharray: 200;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: LargeDash 1.3s ease-in-out infinite; }

@keyframes LargeDash {
  0% {
    stroke-dashoffset: 200; }
  50% {
    stroke-dashoffset: 50;
    transform: rotate(135deg); }
  100% {
    stroke-dashoffset: 200;
    transform: rotate(450deg); } }

header {
  background-color: #fff;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 970;
  border-bottom: 1px solid #e5e5e5;
  color: #000 !important; }
  header.fixed {
    position: fixed;
    z-index: 970;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  header .aligncenter {
    webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  header .logo {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    header .logo .text {
      position: absolute;
      left: 0;
      top: 0;
      width: 0;
      height: 0;
      overflow: hidden; }
    header .logo svg {
      height: 40px;
      width: 40px;
      position: relative;
      right: 10px;
      top: 10px; }
      header .logo svg .cls-1 {
        fill: none;
        stroke: #000;
        stroke-linejoin: round;
        stroke-width: 9px; }
  header .navigation {
    padding: 0 1rem !important;
    height: 100%; }
    header .navigation .navbar-nav {
      padding-right: 0 !important; }
    header .navigation .nav-link {
      padding: 15px 10px;
      font-size: 16px;
      font-weight: bold;
      color: #000 !important; }
      header .navigation .nav-link:hover {
        color: #960000 !important; }
  header .loginbtn {
    display: inline-block;
    float: left; }
    header .loginbtn .userdropdownbtn {
      display: inline-block;
      position: relative; }
      header .loginbtn .userdropdownbtn .dropdown-toggle:focus {
        box-shadow: none !important; }
      header .loginbtn .userdropdownbtn .dropdown-toggle::after {
        position: absolute;
        left: 10px;
        top: 18px; }
      header .loginbtn .userdropdownbtn .dropdown-toggle:hover {
        background: #fff !important;
        color: #960000; }
    header .loginbtn button.zbtn {
      margin-right: 10px;
      padding: 12px 30px;
      width: auto;
      cursor: pointer; }
  header .header-search {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    margin-left: 10px; }
    header .header-search .search-container {
      position: relative;
      width: 100%;
      height: 40px;
      margin: 10px 0;
      padding: 0;
      border: 1px solid #ccc; }
      header .header-search .search-container input {
        height: 100%;
        width: 100%;
        padding: 0 40px 0 10px;
        border: none;
        font-size: 20px; }
      header .header-search .search-container .icon-search {
        position: absolute;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-decoration: none;
        line-height: 40px;
        font-size: 32px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        width: 32px;
        height: 32px;
        font-size: 20px;
        top: 50%;
        right: 9px;
        text-align: center;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
  header .MobileNavigation .header-search {
    height: 54px;
    padding: 0 51px; }
  header .MobileNavigation .logoMobile,
  header .MobileNavigation .menuMobile {
    width: 53px;
    height: 54px;
    position: absolute;
    z-index: 1;
    background: #fff; }
  header .MobileNavigation .logoMobile {
    right: 0;
    border-left: 1px solid #ccc; }
  header .MobileNavigation .menuMobile {
    left: 0;
    border-right: 1px solid #ccc; }

.z-dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer; }
  .z-dropdown > a {
    text-decoration: none; }
  .z-dropdown:after {
    display: block;
    position: absolute;
    content: '';
    top: 100%;
    left: 50%;
    margin-left: -10px;
    background: transparent;
    border: 10px solid transparent;
    border-bottom-color: #000;
    border-bottom-width: 15px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.25s; }
  .z-dropdown[data-mode='touch']:after,
  .z-dropdown[data-mode='touch'] .z-dropdown-menu {
    transition: none; }
  .z-dropdown[data-mode='touch'] .z-dropdown-menu {
    margin-top: 24px; }
  .z-dropdown[data-mode='hover']:hover:not(.nohover):after, .z-dropdown[data-state='active']:after,
  .z-dropdown[data-mode='hover']:hover:not(.nohover) .z-dropdown-menu,
  .z-dropdown[data-state='active'] .z-dropdown-menu {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    visibility: visible; }
  .z-dropdown[data-state='static']:after,
  .z-dropdown[data-state='static'] .z-dropdown-static {
    opacity: 1;
    visibility: visible; }
  .z-dropdown[data-state='static'][data-mode='hover'] .z-dropdown-menu {
    transition-delay: .25s; }
  .z-dropdown[data-anchor='right'] .z-dropdown-menu,
  .z-dropdown[data-anchor='right'] .z-dropdown-static {
    left: inherit;
    right: 0; }
  .z-dropdown-menu, .z-dropdown-static {
    visibility: hidden;
    position: absolute;
    z-index: 800;
    width: 250px;
    right: 50%;
    top: 100%;
    margin-top: 25px;
    margin-right: -125px;
    padding: 25px 0 30px 0;
    text-align: right;
    background-color: #000;
    opacity: 0;
    transition: opacity 0.25s; }
    .z-dropdown-menu .hpm-header, .z-dropdown-static .hpm-header {
      display: block;
      padding: 14.5px 30px;
      line-height: 1;
      color: #fff;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      cursor: pointer; }
    .z-dropdown-menu a, .z-dropdown-static a {
      padding: 11px 30px;
      line-height: 1;
      text-transform: none;
      color: #fff !important;
      text-decoration: none;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      font-size: 18px; }
      .z-dropdown-menu a:not(.mlh-pulldown-top-link), .z-dropdown-static a:not(.mlh-pulldown-top-link) {
        display: block; }
      .z-dropdown-menu a:hover, .z-dropdown-static a:hover {
        background-color: #333; }
    .z-dropdown-menu .mlh-pulldown-top-link,
    .z-dropdown-menu .mlh-pulldown-top-link-persistent, .z-dropdown-static .mlh-pulldown-top-link,
    .z-dropdown-static .mlh-pulldown-top-link-persistent {
      -webkit-font-smoothing: antialiased;
      font-size: 13px; }
    .z-dropdown-menu > hr, .z-dropdown-static > hr {
      height: 2px;
      margin: 19px 30px;
      background-color: #333; }
    .z-dropdown-menu:before, .z-dropdown-static:before {
      display: block;
      position: absolute;
      content: '';
      height: 30px;
      right: 0;
      bottom: 100%;
      left: 0; }
  .z-dropdown-menu > * {
    overflow-x: hidden; }
  .z-dropdown-menu > *::-webkit-scrollbar {
    background-color: #000;
    width: 8px; }
  .z-dropdown-menu > *::-webkit-scrollbar-corner {
    display: none; }
  .z-dropdown-menu > *::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #333; }
  .z-dropdown-static > span {
    padding: 11px 30px;
    line-height: 1;
    text-transform: none;
    color: #fff;
    text-decoration: none;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    font-size: 18px; }
    .z-dropdown-static > span:not(.mlh-pulldown-top-link) {
      display: block; }
    .z-dropdown-static > span:hover {
      background-color: #333; }
  .z-dropdown-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 790;
    height: 100vh; }

.sv-divider {
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #e8e8e8; }
  .sv-divider, .sv-divider-vertical {
    margin: 0 8px;
    display: inline-block;
    height: 0.9em;
    width: 1px;
    vertical-align: middle;
    position: relative;
    top: -0.06em; }
  .sv-divider-horizontal {
    display: block;
    height: 1px;
    width: 100%;
    margin: 24px 0;
    clear: both; }
  .sv-divider-horizontal.sv-divider-with-text, .sv-divider-horizontal.sv-divider-with-text-left, .sv-divider-horizontal.sv-divider-with-text-right {
    display: table;
    white-space: nowrap;
    text-align: center;
    background: transparent;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
    margin: 16px 0; }
    .sv-divider-horizontal.sv-divider-with-text:before, .sv-divider-horizontal.sv-divider-with-text:after, .sv-divider-horizontal.sv-divider-with-text-left:before, .sv-divider-horizontal.sv-divider-with-text-left:after, .sv-divider-horizontal.sv-divider-with-text-right:before, .sv-divider-horizontal.sv-divider-with-text-right:after {
      content: '';
      display: table-cell;
      position: relative;
      top: 50%;
      width: 50%;
      border-top: 1px solid #e8e8e8;
      transform: translateY(50%); }
  .sv-divider-horizontal.sv-divider-with-text-left .sv-divider-inner-text, .sv-divider-horizontal.sv-divider-with-text-right .sv-divider-inner-text {
    display: inline-block;
    padding: 0 10px; }
  .sv-divider-horizontal.sv-divider-with-text-left:before {
    top: 50%;
    width: 95%; }
  .sv-divider-horizontal.sv-divider-with-text-left:after {
    top: 50%;
    width: 5%; }
  .sv-divider-horizontal.sv-divider-with-text-right:before {
    top: 50%;
    width: 5%; }
  .sv-divider-horizontal.sv-divider-with-text-right:after {
    top: 50%;
    width: 95%; }
  .sv-divider-inner-text {
    display: inline-block;
    padding: 0 24px; }
  .sv-divider-dashed {
    background: none;
    border-top: 1px dashed #e8e8e8; }
  .sv-divider-horizontal.sv-divider-with-text.sv-divider-dashed, .sv-divider-horizontal.sv-divider-with-text-left.sv-divider-dashed, .sv-divider-horizontal.sv-divider-with-text-right.sv-divider-dashed {
    border-top: 0; }
    .sv-divider-horizontal.sv-divider-with-text.sv-divider-dashed:before, .sv-divider-horizontal.sv-divider-with-text.sv-divider-dashed:after, .sv-divider-horizontal.sv-divider-with-text-left.sv-divider-dashed:before, .sv-divider-horizontal.sv-divider-with-text-left.sv-divider-dashed:after, .sv-divider-horizontal.sv-divider-with-text-right.sv-divider-dashed:before, .sv-divider-horizontal.sv-divider-with-text-right.sv-divider-dashed:after {
      border-style: dashed none none; }

label {
  position: relative; }
  label.required {
    position: relative; }
    label.required::after {
      content: '*';
      font-size: 13px;
      font-family: tahoma;
      position: absolute;
      top: 0;
      left: -10px;
      color: red; }

.has-aux .rbt-input {
  padding-right: .75rem;
  padding-left: 34px; }

.rbt-aux {
  right: auto;
  left: 0; }

input {
  outline: none; }
  input.Zinput {
    display: inline-block;
    border-width: 1px;
    border-color: #dee2e6;
    border-style: solid;
    line-height: 1.5;
    color: #212529;
    -webkit-transition: color .2s ease-in-out, border-style .2s ease-in-out, visibility .2s ease-in-out, background .2s ease-in-out, background-color .2s ease-in-out, text-decoration .2s ease-in-out, box-shadow .2s ease-in-out, -webkit-transform .2s ease-in-out, opacity .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out, border-style .2s ease-in-out, visibility .2s ease-in-out, background .2s ease-in-out, background-color .2s ease-in-out, text-decoration .2s ease-in-out, box-shadow .2s ease-in-out, transform .2s ease-in-out, opacity .2s ease-in-out;
    transition: color .2s ease-in-out, border-style .2s ease-in-out, visibility .2s ease-in-out, background .2s ease-in-out, background-color .2s ease-in-out, text-decoration .2s ease-in-out, box-shadow .2s ease-in-out, transform .2s ease-in-out, opacity .2s ease-in-out;
    background-color: #fff;
    padding: 10px 10px !important;
    font-size: 1rem;
    border-radius: 0;
    display: block;
    width: 100%; }

button {
  outline: none;
  padding: 0; }

select {
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: ''; }

.InputTypeahead .dropdown-menu.show {
  left: auto !important;
  right: 0 !important;
  border-radius: 3px !important; }

.InputTypeahead .rbt-input-hint {
  left: auto !important;
  right: 0;
  line-height: 27px !important; }

.header-slider {
  height: 417px;
  position: fixed;
  top: 61px;
  width: 100%;
  background: #000;
  z-index: -1; }
  .header-slider .header_slide {
    height: 417px;
    width: 100%; }
    .header-slider .header_slide.black .slidecontent {
      color: #000; }
      .header-slider .header_slide.black .slidecontent .title {
        color: #000; }
      .header-slider .header_slide.black .slidecontent .button {
        border-color: #000; }
        .header-slider .header_slide.black .slidecontent .button:hover {
          background: #000;
          color: #fff; }
    .header-slider .header_slide .slidecontent {
      color: #fff;
      position: relative;
      height: 100%;
      text-align: right;
      padding: 50px 150px; }
      .header-slider .header_slide .slidecontent .sub_content {
        font-size: 21px; }
      .header-slider .header_slide .slidecontent .title {
        color: #fff;
        font-size: 35px;
        font-weight: bold;
        margin: 25px 0 0 0; }
      .header-slider .header_slide .slidecontent .context {
        font-size: 24px;
        display: block;
        margin: 30px 0; }
      .header-slider .header_slide .slidecontent .button {
        padding: 5px 20px;
        display: inline-block;
        border: 3px solid #fff;
        background: transparent;
        transition: background-color 0.25s, color 0.25s; }
        .header-slider .header_slide .slidecontent .button:hover {
          color: #000;
          background: #fff; }
  .header-slider .flickity-page-dots {
    position: absolute;
    bottom: 10px; }
    .header-slider .flickity-page-dots .dot {
      opacity: 1;
      background: #eee; }
      .header-slider .flickity-page-dots .dot.is-selected {
        background: #000; }

.magzine {
  margin: 30px 0; }
  .magzine .items {
    margin-bottom: 15px; }
    .magzine .items .cover {
      width: 100%;
      height: 100%; }
      .magzine .items .cover img {
        width: 190px;
        margin: 0 auto;
        display: block;
        min-height: 270px;
        height: 100%; }
    .magzine .items .content h2 {
      font-size: 23px;
      font-weight: bold;
      margin-bottom: 10px; }
      .magzine .items .content h2 a {
        color: #000; }
        .magzine .items .content h2 a:hover {
          color: #960000; }
    .magzine .items .content p {
      text-align: justify; }

.baseFooter, footer .footer, footer .copyright {
  padding: 20px 0;
  border-top: 1px solid #e5e5e5; }

footer .footer {
  margin-bottom: 10px; }
  footer .footer .footer-links .title {
    font-weight: bold;
    font-size: 18px; }

footer .copyright .logo {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  footer .copyright .logo .text {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    overflow: hidden; }
  footer .copyright .logo svg {
    height: 40px;
    width: 40px;
    position: relative; }
    footer .copyright .logo svg .cls-1 {
      fill: none;
      stroke: #000;
      stroke-linejoin: round;
      stroke-width: 9px; }

footer .copyright .links {
  display: inline-block;
  margin: 0 7px;
  vertical-align: middle;
  text-decoration: none; }

footer .copyright .socials {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  position: relative;
  margin-right: auto; }

.artist_list {
  width: 200px;
  border-left: 1px solid #e5e5e5;
  margin: 0 0 0 30px;
  padding-left: 30px;
  height: 262px;
  white-space: normal; }
  .artist_list .content {
    z-index: 100;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 100%; }
    .artist_list .content a {
      display: block;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.33;
      -webkit-font-smoothing: antialiased;
      text-decoration: none;
      margin: 10px 0;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }

.Arts {
  margin-left: 15px; }
  .Arts .thumb {
    width: 100%;
    height: 180px;
    margin-bottom: 10px;
    position: relative; }
    .Arts .thumb:hover .save_art {
      opacity: 1; }
    .Arts .thumb a {
      display: block;
      height: 100%; }
    .Arts .thumb img {
      display: block;
      height: 100%;
      min-width: 140px; }
    .Arts .thumb .save_art {
      position: absolute;
      left: 10px;
      bottom: 10px;
      display: block;
      width: 40px;
      height: 40px;
      text-align: center;
      cursor: pointer;
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      font-size: 16px;
      overflow: hidden;
      line-height: 40px;
      opacity: 0; }
      .Arts .thumb .save_art:hover {
        background-color: #000; }
      .Arts .thumb .save_art svg g {
        transform: translateY(13px) translateX(13px); }
      .Arts .thumb .save_art .loadingSpinner {
        display: none; }
      .Arts .thumb .save_art.loading {
        opacity: 1; }
        .Arts .thumb .save_art.loading .loadingSpinner {
          display: block;
          width: 100%;
          height: 100%;
          font-family: 'Font Awesome 5 Free' !important;
          font-weight: 900;
          animation: spin 2s linear infinite; }
          .Arts .thumb .save_art.loading .loadingSpinner svg {
            display: none; }
          .Arts .thumb .save_art.loading .loadingSpinner:before {
            content: '\f110'; }
      .Arts .thumb .save_art.saved {
        opacity: 1 !important;
        background-color: #c614cc; }
        .Arts .thumb .save_art.saved svg g {
          fill: transparent !important;
          stroke: #fff !important; }
        .Arts .thumb .save_art.saved:hover {
          background-color: #d42727;
          font-family: 'Font Awesome 5 Free' !important;
          font-weight: 900; }
          .Arts .thumb .save_art.saved:hover svg {
            display: none; }
          .Arts .thumb .save_art.saved:hover:before {
            content: '\f00d'; }
  .Arts .art_details {
    font-size: 15px;
    line-height: 1.25;
    margin: 11px 0 26px 0;
    height: 95px;
    overflow: hidden;
    min-width: 140px; }
    .Arts .art_details .content {
      display: block;
      width: 100%;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap; }
      .Arts .art_details .content.item_title {
        font-weight: bold; }
      .Arts .art_details .content.gallery_name {
        font-weight: normal;
        color: #666; }
      .Arts .art_details .content.price {
        font-weight: normal;
        font-size: 18px;
        color: #666; }

.carousel {
  margin-bottom: 30px;
  width: 100%;
  counter-reset: carousel-cell; }
  .carousel:hover .flickity-button {
    transition: .3s visibility;
    visibility: visible; }
  .carousel .item {
    max-width: 250px; }

.flickity-enabled {
  position: relative; }

.flickity-enabled {
  position: relative; }

.flickity-enabled:focus {
  outline: none; }

.flickity-enabled.is-draggable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%; }

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.features a:hover {
  color: #000 !important; }

.top-features {
  margin: 60px 0;
  display: inline-block;
  width: 100%; }
  .top-features .img,
  .top-features .details {
    display: table-cell;
    vertical-align: middle; }
  .top-features .img img {
    max-width: 60px;
    max-height: 60px; }
  .top-features .details {
    padding: 15px; }
    .top-features .details > h3 {
      font-size: 11px;
      line-height: 1.33;
      color: #666;
      margin-bottom: 0; }
    .top-features .details > h4 {
      font-size: 13px;
      margin-bottom: 0;
      line-height: 1.33; }

.bottom-features {
  margin: 60px 0; }
  .bottom-features .img,
  .bottom-features .details {
    display: block; }
  .bottom-features .img-link {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    position: relative; }
  .bottom-features .img img {
    display: block;
    width: 100%; }
  .bottom-features .details {
    margin: 10px 0 20px 0;
    padding-left: 20px; }
    .bottom-features .details h3 {
      font-size: 17px;
      line-height: 1.75;
      margin-bottom: 0; }
    .bottom-features .details h4 {
      font-size: 16px;
      margin-bottom: 0; }
    .bottom-features .details h5 {
      color: #666;
      font-size: 17px;
      margin-bottom: 0; }

.follow-button {
  display: inline-block;
  vertical-align: middle; }
  .follow-button.following .follow-button-text {
    color: #c614cc; }
    .follow-button.following .follow-button-text:before {
      content: 'دنبال میکنید'; }
  .follow-button.following .follow-button-icon svg g {
    stroke: #c614cc !important; }
  .follow-button.following:hover .follow-button-text {
    color: #a51f1f; }
    .follow-button.following:hover .follow-button-text:before {
      content: 'دنبال نکردن'; }
  .follow-button.following:hover .follow-button-icon svg g {
    stroke: #a51f1f !important; }
  .follow-button .plus-button {
    cursor: pointer;
    display: inline-block;
    min-width: 86px; }
  .follow-button .follow-button-icon {
    font-size: 32px;
    margin: 0 0 0 5px;
    vertical-align: bottom;
    display: inline-block;
    line-height: 20px;
    height: 22px; }
  .follow-button .follow-button-text {
    display: inline; }
    .follow-button .follow-button-text:before {
      content: 'دنبال کردن'; }
  .follow-button:hover .follow-button-text {
    color: #c614cc; }
  .follow-button:hover .follow-button-icon svg g {
    stroke: #c614cc !important; }

.follow-popover {
  background-color: #fff !important;
  border-radius: 3px !important;
  border: 1px solid #ddd !important;
  width: 290px;
  height: 192px; }
  .follow-popover .popover-body {
    float: right;
    width: 100%;
    padding: 15px !important; }
  .follow-popover .header .header-text {
    font-size: 15px;
    line-height: 1.33; }
  .follow-popover .header .popover-close {
    color: #999;
    position: absolute;
    left: 10px;
    top: 0;
    font-size: 34px;
    cursor: pointer; }
  .follow-popover .popover-artists ul {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 100%; }
    .follow-popover .popover-artists ul li {
      padding: 10px 0 10px 0;
      border-bottom: 1px solid #e5e5e5;
      width: 100%;
      float: right; }
      .follow-popover .popover-artists ul li:last-child {
        border-bottom: 0; }
      .follow-popover .popover-artists ul li > div {
        width: 100%;
        float: right; }
      .follow-popover .popover-artists ul li:before, .follow-popover .popover-artists ul li:after {
        content: "";
        display: table; }
      .follow-popover .popover-artists ul li img {
        margin-left: 10px;
        float: right; }
      .follow-popover .popover-artists ul li .artist-name {
        font-size: 17px;
        line-height: 1.5;
        margin-top: 2px;
        text-decoration: none;
        border-bottom: 2px solid transparent;
        float: right;
        max-width: 128px;
        display: block;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap; }
        .follow-popover .popover-artists ul li .artist-name:hover {
          border-bottom: 1.6px solid #000; }
      .follow-popover .popover-artists ul li .follow-button {
        margin-top: 5px;
        cursor: pointer;
        float: left;
        font-weight: bold;
        border-bottom: 1.6px solid #000; }
        .follow-popover .popover-artists ul li .follow-button:before {
          content: 'دنبال کردن'; }
        .follow-popover .popover-artists ul li .follow-button.following {
          color: #c614cc !important; }
          .follow-popover .popover-artists ul li .follow-button.following:before {
            content: 'دنبال میکنید'; }

.modal .modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 15px;
  background: white;
  border-radius: 5px; }

.modal .modal-dialog {
  height: 100%; }

.modal .modal-header .close {
  float: left;
  margin: -1rem auto -1rem -1rem; }

.modal .modal-body .zbtn {
  padding: 10px 30px;
  width: 100%; }

@media (max-width: 767px) {
  .modal .modal-dialog {
    max-width: 100%;
    margin: 0; }
  .modal .modal-content {
    transform: none;
    width: 100%;
    border-radius: 0;
    bottom: 0;
    right: 0;
    left: 0; } }

section .section_header {
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  height: 40px; }
  section .section_header .annotation {
    color: #666;
    font-size: 14px;
    line-height: 1.33;
    position: absolute;
    top: -15px; }
    section .section_header .annotation a {
      color: #666 !important; }
      section .section_header .annotation a:hover {
        color: #262626 !important; }
  section .section_header h1 {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.5;
    margin-left: 10px;
    display: inline-block; }
  section .section_header .view-all {
    position: absolute;
    left: 0;
    top: 8px; }

section.homeContent {
  z-index: 1;
  width: 100%;
  background: #fff;
  position: relative;
  margin-top: 478px;
  padding-bottom: 20px; }

section.content {
  z-index: 1;
  width: 100%;
  position: relative; }
  section.content.singlePage {
    margin-top: 60px; }
  section.content .page-content {
    margin: 30px 0; }

section.section {
  width: 100%; }
  section.section .title {
    display: block;
    width: 100%;
    margin-bottom: 30px; }
    section.section .title.right h2 {
      margin: 0;
      text-align: right;
      border: none;
      padding: 5px 0;
      font-size: 24px; }
    section.section .title h2 {
      padding: 5px 15px;
      border: 1px solid #000;
      margin: 0 auto;
      display: table;
      text-align: center;
      font-size: 24px; }
  section.section.mediums {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #e5e5e5; }
  section.section .items .medium_item {
    display: block;
    border: 1px solid #ccc;
    position: relative;
    text-align: center;
    padding: 32px 15px;
    font-size: 23px;
    margin-bottom: 30px; }
  section.section .items .item {
    background: #FFFFFF;
    text-align: right;
    padding: 10px;
    overflow: hidden;
    position: relative;
    transition-property: color, transform;
    transition-duration: .15s; }
    section.section .items .item .content {
      line-height: 24px;
      text-align: justify;
      padding: 10px 0;
      display: block; }
    section.section .items .item .more {
      background-color: #000;
      border-radius: 0;
      border-color: #000;
      font-size: 16px;
      color: #fff;
      padding: 5px 10px;
      float: left; }
    section.section .items .item .thumb {
      width: 100%;
      height: 150px;
      margin-bottom: 10px; }
      section.section .items .item .thumb img {
        width: 100%;
        height: 100%; }

section.artist_to_follow {
  padding: 30px 0 10px;
  background-color: #f8f8f8;
  margin-bottom: 60px; }
  section.artist_to_follow .section_header .tabs {
    display: inline-block; }
    section.artist_to_follow .section_header .tabs .tab {
      cursor: pointer;
      margin: 0 15px;
      display: inline-block;
      font-size: 16px;
      line-height: 1.33;
      color: #666; }
      section.artist_to_follow .section_header .tabs .tab.active {
        color: #000;
        border-bottom: 2px solid #000; }
  section.artist_to_follow .artist-slide-cell {
    padding: 0;
    margin-left: 30px;
    width: calc(25% - 22.5px);
    background-color: #fff; }
  section.artist_to_follow .artist-cell {
    border: 1px solid #e5e5e5;
    padding: 10px; }
    section.artist_to_follow .artist-cell link {
      display: block; }
    section.artist_to_follow .artist-cell .thumb {
      position: relative;
      display: inline-block;
      width: 100%;
      height: 196px;
      margin-bottom: 10px; }
      section.artist_to_follow .artist-cell .thumb img {
        width: 100%;
        height: 100%; }
    section.artist_to_follow .artist-cell button.follow {
      width: 100%;
      padding: 4px 20px;
      background: #000;
      border: 1px solid #000;
      color: #fff;
      text-align: center;
      position: relative; }
      section.artist_to_follow .artist-cell button.follow:before {
        content: 'دنبال کردن'; }
      section.artist_to_follow .artist-cell button.follow:hover {
        background: #c614cc;
        border: 1px solid #c614cc; }
      section.artist_to_follow .artist-cell button.follow.following {
        background-color: #fff;
        color: #ccc;
        border: 1px solid #e5e5e5; }
        section.artist_to_follow .artist-cell button.follow.following:hover {
          color: #c614cc; }
          section.artist_to_follow .artist-cell button.follow.following:hover:before {
            content: 'دنبال نکردن'; }
        section.artist_to_follow .artist-cell button.follow.following:before {
          content: 'دنبال میکنید'; }
    section.artist_to_follow .artist-cell .artist_details {
      min-height: 63px;
      margin-bottom: 3px; }
      section.artist_to_follow .artist-cell .artist_details .content {
        display: block;
        width: 100%;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap; }
        section.artist_to_follow .artist-cell .artist_details .content.name {
          font-weight: bold; }
        section.artist_to_follow .artist-cell .artist_details .content.birthday {
          font-weight: normal;
          color: #666; }
        section.artist_to_follow .artist-cell .artist_details .content.works {
          font-weight: normal;
          font-size: 18px;
          color: #666; }
  section.artist_to_follow .flickity-prev-next-button .flickity-button-icon {
    height: 100%; }

.filepond--root {
  font-family: ZaridSans !important; }

/* use a hand cursor intead of arrow for the action buttons */
.filepond--file-action-button {
  cursor: pointer; }

/* the text color of the drop label*/
.filepond--drop-label {
  color: #555; }

/* underline color for "Browse" button */
.filepond--label-action {
  text-decoration-color: #aaa; }

/* the background color of the filepond drop area */
.filepond--panel-root {
  background-color: #eee; }

/* the border radius of the drop area */
.filepond--panel-root {
  border-radius: .25rem; }

/* the border radius of the file item */
.filepond--item-panel {
  border-radius: 0.5em; }

/* the background color of the file and file panel (used when dropping an image) */
.filepond--item-panel {
  background-color: #555; }

/* the background color of the drop circle */
.filepond--drip-blob {
  background-color: #999; }

/* the background color of the black action buttons */
.filepond--file-action-button {
  background-color: rgba(0, 0, 0, 0.5); }

/* the icon color of the black action buttons */
.filepond--file-action-button {
  color: white; }

/* the color of the focus ring */
.filepond--file-action-button:hover,
.filepond--file-action-button:focus {
  box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.9); }

/* the text color of the file status and info labels */
.filepond--file {
  color: white; }

/* error state color */
[data-filepond-item-state*='error'] .filepond--item-panel,
[data-filepond-item-state*='invalid'] .filepond--item-panel {
  background-color: red; }

[data-filepond-item-state='processing-complete'] .filepond--item-panel {
  background-color: green; }

/* bordered drop area */
.filepond--panel-root {
  background-color: transparent;
  border: 1px solid #ddd; }

.popover,
.Toastify__toast {
  font-family: ZaridSans !important; }

.dropdown-menu {
  text-align: right !important; }
  .dropdown-menu.show {
    left: auto !important;
    right: 10px !important;
    border-radius: 0 !important; }
  .dropdown-menu button {
    cursor: pointer !important; }

@media (max-width: 767px) {
  header,
  .header-slider {
    position: relative !important;
    top: auto !important; }
  .mobileLogin {
    width: 100%;
    background: #000;
    position: relative;
    z-index: 1000; }
    .mobileLogin .mobile-login-btn {
      padding: 12px 12px;
      width: 50%;
      display: inline-block; }
      .mobileLogin .mobile-login-btn.right {
        padding-left: 6px; }
      .mobileLogin .mobile-login-btn.left {
        padding-right: 6px; }
      .mobileLogin .mobile-login-btn button {
        width: 100%;
        display: block;
        padding: 8px 0; }
        .mobileLogin .mobile-login-btn button.zbtn {
          background: #333;
          color: #fff;
          border: 1px solid #333; }
  header {
    height: 54px; }
    header .logo {
      width: 55px;
      height: 54px; }
      header .logo svg {
        top: auto;
        right: 6px; }
    header .navigation {
      padding: 0 !important; }
      header .navigation .nav-link {
        padding: 15px 10px;
        font-size: 16px;
        font-weight: bold;
        color: #fff !important; }
    header .navbar {
      position: inherit; }
      header .navbar .navbar-toggler {
        padding: 12px;
        width: 53px;
        height: 54px;
        border-right: none; }
    header .menu-collapse .nav-link {
      padding: 15px 10px;
      font-size: 16px;
      font-weight: bold;
      color: #fff !important; }
    header .menu-collapse .navbar-collapse {
      position: absolute;
      top: 54px;
      left: 0;
      right: 0;
      background-color: #000;
      padding: 0 20px; }
    header .header-search {
      margin-left: 0; }
      header .header-search .search-container {
        position: relative;
        height: 100%;
        margin: 0;
        border: 1px solid #e5e5e5;
        border-top: none; }
  section.content.singlePage {
    margin: 0; }
  section.homeContent {
    margin-top: 0; } }

form pre {
  direction: ltr;
  text-align: left;
  position: relative;
  border: 1px solid #ccc;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
  padding: 20px; }
