@import '../../static/scss/variables';
@import '../../static/scss/_mixins';
@import '../../static/scss/_rem';

:local(.contact) {
    text-align: center;
    margin-bottom: 25px;

    .email {
        margin: 10px;
        font-size: 22px;
        color: $secondery-color;

        a {
            font-weight: bold;
            color: $secondery-color !important;
        }
    }

    .map {
        width: 640px;
        height: 230px;
        margin: 0 auto 20px;


        .leaflet-container {
            height: 100%;
        }
    }

    .address {
        font-size: 22px;
    }
}