@import '../../static/scss/variables';
@import '../../static/scss/_mixins';
@import '../../static/scss/_rem';



:local(.content) {
    position: relative;
    float: right;
    width: 100%;

}




:local(.overiewAbout) {
    margin-bottom: 60px;

    h3 {
        display: inline-block;
        margin: 15px 0 20px 0;
        vertical-align: middle;
    }

    p {}
}

:local(.Sections) {
    // min-height: 200px;
    // margin-bottom: 60px;
    position: relative;
    border-top: 1px solid #ccc;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    width: 100%;

    &.nobb {
        border: none;
    }
}

:local(.artFilter) {
    text-align: center;
    margin-bottom: 40px;
    background: #fff;

    .filter-button,
    .filter-dropdown {
        display: inline-block;
        border: 1px solid #ccc;
        padding: 15px 18px 10px 18px;
        // height: 57px;
        font-weight: bold;
        background: transparent;
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        text-decoration: none;

        label {
            margin-bottom: 0;
            cursor: pointer;
        }

        .filter-nav-main-text {}

        &.is-active {
            .filter-nav-active-text {
                display: block;
                margin-top: 5px;
            }

            .filter-nav-main-text {
                font-size: 13px;
                text-align: right;
                position: absolute;
                margin-top: -16px;
                color: #000
            }
        }

        a {
            text-decoration: none
        }
    }



    .filter-button+.filter-button,
    .filter-dropdown+.filter-button,
    .filter-button+.filter-dropdown,
    .filter-dropdown+.filter-dropdown {
        border-right: 0
    }

    .filter-button {
        .checkbox {
            margin-left: 15px
        }

        &.active {
            color: $secondery-color !important
        }
    }

    .filter-dropdown {
        position: relative;
        padding-left: 35px;

        &:hover {
            background: #000;
            color: #fff;

            >nav {
                display: block;
            }
        }

        .icon {
            font-size: 12px;
            display: block;
            position: absolute;
            top: 21px;
            left: 17px;
        }

        &.is-active {
            color: $secondery-color
        }

        nav {
            z-index: 2;
            background: #000;
            position: absolute;
            top: 49px;
            right: 0;
            width: 300px;
            display: none;

            border-top: 1px solid #333;

            a {
                text-align: right;
                color: #fff !important;
                font-size: 17px;
                text-transform: none;
                display: block;
                border-bottom: 1px solid #333;
                padding: 15px 18px 10px 18px;
                -webkit-transition: background-color 0.2s;
                -moz-transition: background-color 0.2s;
                -o-transition: background-color 0.2s;
                -ms-transition: background-color 0.2s;
                transition: background-color 0.2s;
                position: relative;

                &:hover {
                    background: lighten($color: #000000, $amount: 10%)
                }
            }
        }

        &-count {
            margin-right: 5px;
            color: #777;
        }
    }
}

:local(.tabSection) {
    border-bottom: 1px solid #ccc;
    padding-bottom: 60px;
}

:local(.title) {
    margin: 30px 0;
    font-size: 25px;
    line-height: 1.4;

    span {
        text-align: left;
        float: left;
        color: #909090;
        font-size: 18px;
        line-height: 34px;
    }
}

:local(.notification) {
    padding: 15px;
    margin-bottom: 25px;
    position: relative;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.65);
    line-height: 1.5;
    border: 1px solid #e2e2e2;
    border-right-width: 4px;
    background-color: #fafafa;

    &.seen {
        border-right: 4px solid $secondery-color
    }

    h2 {
        font-size: 20px;
    }
}